/*@font-face {
    font-family: Fonte-Principal;
    src: url(font/nome-da-font.woff);
}*/

/* 
SELETORES

-tag
-classes
-id

tag {
}
.class {
}
#id {
}

seletor {
    propriedade: valor;
}

COR
-nome
-hexadecimal
-rgb
*/
body{
    font-family: Roboto, sans-serif;
}

header {
    font-family: Roboto;
    height: 91px;
    background-color: #FF5F8F;
}

h1 {
    color: #ffffff;
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
}

.menu {
    height: 50px;
    background-color: #525252;
}
.menu--link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.menu--input {
    height: 18px;
    background: #FFFFFF;
    border: 1px solid #A2A2A2;
    border-radius: 5px;
    width: 100px;
}

.menu--button {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.span--copyright {
    color: #ffffff;
}

h2{
    font-family: Roboto;
    font-weight: 300;
    font-size: 48px;
    color: #000000;
}
p{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

h3{
    font-weight: 300;
    font-size: 36px;
}

.box-noticias h4{
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
.box-noticias span{
    font-size: 14px;
    font-weight: 400;
}
.box-noticias p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

footer{
    height: 270px;
    background-color: #414141;
    border-top:6px solid #FF5F8F;
}

/*
border-top
border-right
border-bottom
border-left

border: expessura tipo cor;


margin: top right bottom left;
margin: top/bottom right/left;
margin-top
margin-right
margin-left
margin-bottom

padding

*/
