/*
UNIDADE DE MEDIDA FIXA
-> PX

UNIDADES DE MEDIDA RELATIVAS
FONTES
-> EM: vai levar em consideração o valor do body/do pai direto
 valor do pai * valor de em: 14px * 1.2em => 16.8px

-> REM: vai levar em consideração o valor do ROOT/HTML

TAMANHO DE ELEMENTOS
-> VH: altura da viewport => viewport 900px: 1vh -> 9px
-> VW: largura da viewport

-> %
*/
body{
    font-size: 14px;
    height: 100%;
}
section{
    font-size: 1.2em;
    height: 100vh;
    width: 20vw;
    background-color: greenyellow;
}
span{
    font-size: 1.2em; /*16.8px * 1.2 = 20.16px*/
    height: 100vh;
    width: 50vw;
    background-color: indianred;
}

@media screen and (max-width: 768px){
    span{
        background-color: blue;
    }
    
}

@media screen and (max-width: 360px) {
    span{
        background-color: black;
    }
}